@charset "UTF-8";

.o-box {
  display: block;
  padding: size(spacing);
}
.o-box--flush {
  padding: 0;
}
.o-box--tiny {
  padding: size(spacing, tiny);
}
.o-box--small {
  padding: size(spacing, small);
}
.o-box--large {
  padding: size(spacing, large);
}
.o-box--huge {
  padding: size(spacing, huge);
}