@charset "UTF-8";

$container-width: 1200px !default;

@include sizes((
  container: (
    default: (
      base: (
        gutter: size(spacing),
      ),
      medium: (
        gutter: size(spacing, large)
      )
    )
  )
));

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
}

@each $modifier, $responds in map-get($sizes, container) {
  .o-container#{modifier($modifier)} {
    @each $respond, $size in $responds {
      @include respond($respond) {
        $gutter: map-get($size, gutter);
        padding-left: $gutter;
        padding-right: $gutter;
      }
    }
  }
}

// @include responsive(o-container, map-get($sizes, container), (
//   padding-left: gutter,
//   padding-right: gutter
// ));

.o-container--grow {
  max-width: none;
}