.o-form__fields,
.o-form__actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: - size(spacing);
  margin-left: - size(spacing);
}
.o-form__actions {
  justify-content: flex-end;
  align-items: center;
  padding-top: size(spacing);
  .o-form > & {
    padding-top: size(spacing) + size(spacing);
  }
  .o-form__field > &:first-child {
    padding-top: 0;
  }
}
.o-form__field,
.o-form__action {
  display: flex;
  flex-direction: column;
  font-size: size(font, base);
  margin-top: size(spacing);
  padding-left: size(spacing);
}
.o-form__field {
  justify-content: space-between;
  width: 100%;
  &.is-removed {
    display: none;
  }
}
.o-form__action--grow {
  width: 100%;
}
.o-form__fieldset {
  margin-bottom: size(spacing, large);
  .o-form__field > & {
    margin-bottom: 0;
  }
}
.o-form__fields--auto {
  > .o-form__field {
    width: auto;
    padding-left: 0;
    margin-left: size(spacing);
  }
}
.o-form__fields--right {
  justify-content: flex-end;
}
.o-form__fields--small {
  margin-top: - size(spacing, small);
  margin-left: - size(spacing, small);
  > .o-form__field {
    margin-top: size(spacing, small);
    padding-left: size(spacing, small);
  }
}
.o-form__actions--small {
  margin-top: - size(spacing, small);
  margin-left: - size(spacing, small);
  > .o-form__action {
    margin-top: size(spacing, small);
    padding-left: size(spacing, small);
  }
}
.o-form__fields {
  &.is-empty {
    display: none;
  }
}
