@charset "UTF-8";

$lucid-grid-sizes: (
  null: $global-spacing,
  tiny: $global-spacing--tiny,
  small: $global-spacing--small,
  large: $global-spacing--large,
  huge: $global-spacing--huge
) !default;

.o-grid {
  font-size: 0;
  @include rem(margin-top, - $global-spacing);
  @include rem(margin-left, - $global-spacing);
}
.o-grid__item {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  @include font-size(base);
  @include rem(padding-top, $global-spacing);
  @include rem(padding-left, $global-spacing);
}

@each $name, $size in $lucid-grid-sizes {
  .o-grid#{if($name == null, "", "--#{$name}")} {
    @include rem(margin-top, - $size);
    @include rem(margin-left, - $size);

    > .o-grid__item {
      @include rem(padding-top, $size);
      @include rem(padding-left, $size);
    }
  }
}

.o-grid--center {
  text-align: center;
  
  > .o-grid__item {
    text-align: left;
  }
}
.o-grid--right {
  text-align: right;

  > .o-grid__item {
    text-align: left;
  }
}
.o-grid--left {
  text-align: left;

  > .o-grid__item {
    text-align: left;
  }
}
.o-grid--flush {
  margin-top: 0;
  margin-left: 0;
  
  > .o-grid__item {
    padding-top: 0;
    padding-left: 0;
  }
}
.o-grid--middle {
  > .o-grid__item {
    vertical-align: middle;
  }
}
.o-grid--bottom {
  > .o-grid__item {
    vertical-align: bottom;
  }
}
.o-grid--stretch {
  display: flex;
  flex-wrap: wrap;

  > .o-grid__item {
    display: flex;
    flex-direction: column;
    > * { flex: 1; }
  }
  &.o-grid--center {
    justify-content: center;
  }
  &.o-grid--right {
    justify-content: flex-end;
  }
  &.o-grid--left {
    justify-content: flex-start;
  }
}
.o-grid--reverse {
  direction: rtl;
  
  > .o-grid__item {
    direction: ltr;
  }
}