@charset "UTF-8";

@include sizes((
  grid: (
    default: (
      base: (
        gutter: size(spacing),
      ),
      medium: (
        gutter: size(spacing, large)
      ),
      huge: (
        gutter: size(spacing, huge)
      )
    ),
    tiny: (
      base: (
        gutter: size(spacing, tiny)
      )
    ),
    small: (
      base: (
        gutter: size(spacing, small)
      )
    ),
    large: (
      base: (
        gutter: size(spacing, large)
      )
    ),
    huge: (
      base: (
        gutter: size(spacing, huge)
      )
    ),
    flush: (
      base: (
        gutter: 0
      )
    )
  )
));

.o-grid {
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
}
.o-grid__item {
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@each $modifier, $responds in map-get($sizes, grid) {
  .o-grid#{modifier($modifier)} {
    @each $respond, $size in $responds {
      @include respond($respond) {
        $gutter: map-get($size, gutter);
        margin-top: - $gutter;
        margin-left: - $gutter;

        > .o-grid__item {
          padding-top: $gutter;
          padding-left: $gutter;
        }
      }
    }
  }
}

.o-grid--center {
  justify-content: center;
}
.o-grid--right {
  justify-content: flex-end;
}
.o-grid--left {
  justify-content: flex-start;
}
.o-grid--middle {
  > .o-grid__item {
    justify-content: center;
  }
}
.o-grid--bottom {
  > .o-grid__item {
    justify-content: flex-end;
  }
}
.o-grid--auto {
  > .o-grid__item {
    width: auto;
  }
}