@charset "UTF-8";

$grid: (
  null: size(spacing),
  tiny: size(spacing, tiny),
  small: size(spacing, small),
  large: size(spacing, large),
  huge: size(spacing, huge),
  flush: 0
) !default;

.o-grid {
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
}
.o-grid__item {
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@each $name, $size in $grid {
  .o-grid#{if($name == null, "", "--#{$name}")} {
    margin-top: - $size;
    margin-left: - $size;

    > .o-grid__item {
      padding-top: $size;
      padding-left: $size;
    }
  }
}

.o-grid--center {
  justify-content: center;
}
.o-grid--right {
  justify-content: flex-end;
}
.o-grid--left {
  justify-content: flex-start;
}
.o-grid--middle {
  > .o-grid__item {
    justify-content: center;
  }
}
.o-grid--bottom {
  > .o-grid__item {
    justify-content: flex-end;
  }
}
.o-grid--auto {
  > .o-grid__item {
    width: auto;
  }
}