.o-media {
  display: block;
  @include clearfix();
}
.o-media__image {
  float: left;
  margin-right: size(spacing);
}
.o-media__body {
  overflow: hidden;
  display: block;
}
.o-media--flush {
  > .o-media__image {
    margin-right: 0;
    margin-left: 0;
  }
}
.o-media--tiny {
  > .o-media__image {
    margin-right: size(spacing, tiny);
  }
  &.o-media--reverse {
    > .o-media__image {
      margin-right: 0;
      margin-left: size(spacing, tiny);
    }
  }
}
.o-media--small {
  > .o-media__image {
    margin-right: size(spacing, small);
  }
  &.o-media--reverse {
    > .o-media__image {
      margin-right: 0;
      margin-left: size(spacing, small);
    }
  }
}
.o-media--large {
  > .o-media__image {
    margin-right: size(spacing, large);
  }
  &.o-media--reverse {
    > .o-media__image {
      margin-right: 0;
      margin-left: size(spacing, large);
    }
  }
}
.o-media--huge {
  > .o-media__image {
    margin-right: size(spacing, huge);
  }
  &.o-media--reverse {
    > .o-media__image {
      margin-right: 0;
      margin-left: size(spacing, huge);
    }
  }
}

.o-media--reverse {
  > .o-media__image {
    float: right;
    margin-right: 0;
    margin-left: size(spacing);
  }
}