@charset "UTF-8";

.o-pack {
  width: 100%;
  display: table;
  // Equal widths.
  table-layout: fixed;
}
.o-pack__item {
  display: table-cell;
  vertical-align: top;
  .o-pack--middle > & {
    vertical-align: middle;
  }
  .o-pack--bottom > & {
    vertical-align: bottom;
  }
}
.o-pack__item--grow {
  width: 100%;
}
.o-pack--tiny {
  border-spacing: size(spacing, tiny);
}
.o-pack--small {
  border-spacing: size(spacing, small);
}
.o-pack--default {
  border-spacing: size(spacing);
}
.o-pack--large {
  border-spacing: size(spacing, large);
}
.o-pack--huge {
  border-spacing: size(spacing, huge);
}
.o-pack--auto {
  table-layout: auto;
}
.o-pack--reverse {
  direction: rtl;

  > .o-pack__item {
    direction: ltr;
  }
}