@include palettes((
  piped: (
    separator: palette(foreground, tint),
  )
));

.o-piped {
  display: table;
}
.o-piped__item {
  display: table-cell;
  & + & {
    padding-left: size(spacing);
    border-left: 1px solid palette(foreground, tint);
  }
  &:not(:first-child) {
    padding-left: size(spacing, small);
  }
  &:not(:last-child) {
    padding-right: size(spacing, small);
  }
}