@charset "UTF-8";

.o-table {
  width: 100%;
}
.o-table--fixed {
  table-layout: fixed;
}
.o-table--tiny {
  th, td {
    padding: size(spacing, tiny);
  }
}
.o-table--medium {
  th, td {
    padding: size(spacing);
  }
}
.o-table--large {
  th, td {
    padding: size(spacing, large);
  }
}
.o-table--huge {
  th, td {
    padding: size(spacing, huge);
  }
}
.o-table.is-empty {
  display: none;
}
.o-table__cell {
  text-align: left;
  padding: size(spacing, small);
}
.o-table__cell--middle {
  vertical-align: middle;
}
.o-table__cell--bottom {
  vertical-align: bottom;
}
.o-table__cell--nowrap {
  white-space: nowrap;
}
.o-table__cell--integer,
.o-table__cell--currency {
  text-align: right;
}
.o-table__cell--boolean {
  text-align: center;
}
// TODO: Should probably be in app.
.o-table__cell--image:not(.o-table__cell--header) {
  padding: size(spacing, tiny) !important;
  min-width: size(spacing) * 4;
  width: size(spacing) * 4;
}
.o-table__cell--center {
  text-align: center;
}
.o-table__cell--grow {
  width: 100%;
}