@charset "UTF-8";

html {
  @if map-has-key($stacks, base) {
    font-family: stack();
  }
  font-size: size(font, base);
  line-height: rhythm(1);
  
  // Stop jumps between pages.
  overflow-y: scroll;
  min-height: 100%;
}