$rhythm-size: 20 !default;

$responds: (
  small:  560,
  medium: 850,
  large:  1100,
  huge:   1400,
  nav:    768
) !default;

$font-sizes: (
  base: 16,
  tiny: 14,
  small: 16,
  medium: modular-scale(1, 14, $golden),
  large: modular-scale(1, 16, $golden),
  huge: modular-scale(2, 14, $golden),
  massive: modular-scale(2, 16, $golden)
) !default;