$global-radius: 2px !default;
$global-shadow: 1px !default;

$global-transition-time: .15s !default;
$global-transition-easing: ease !default;
$global-image-scale: 1.1 !default;

$global-font-weight--regular: 400 !default;
$global-font-weight--medium: 500 !default;
$global-font-weight--bold: 700 !default;

$global-font-stack: $font-stack-system;