@include palettes((
  foreground: (
    base: #5e5e5e
  ),
  background: (
    base: #fff
  ),
  panel: (
    base: #fff
  ),
  accent: (
    base: #3498db
  ),
  shadow: (
    dark: rgba(black, .07),
    base: rgba(black, .05)
  ),
  overlay: (
    base: rgba(black, .9)
  ),
  swatches: (
    positive: (
      base: #2ecc71
    ),
    negative: (
      base: #e74c3c
    ),
    neutral: (
      base: #e67e22
    )
  )
));

@include palettes((
  foreground: (
    tint: tint(palette(foreground), 80%),
    light: tint(palette(foreground), 26%),
    dark: shade(palette(foreground), 25%)
  ),
  panel: (
    tint: #f7f7f7
  ),
  accent: (
    hover: tint(palette(accent), 20%),
    tint: tint(palette(accent), 70%)
  ),
  swatches: (
    positive: (
      hover: shade(palette(swatches, positive), 20%)
    ),
    negative: (
      hover: shade(palette(swatches, negative), 20%)
    ),
    neutral: (
      hover: shade(palette(swatches, neutral), 20%)
    )
  ),
));

@include palettes((
  inverted: (
    background: (
      base: palette(foreground, dark)
    ),
    foreground: (
      base: tint(palette(foreground, dark), 80%),
      light: tint(palette(foreground, dark), 95%)
    )
  )
));