@include palettes((
  button: (
    foreground: palette(panel),
    background: palette(accent),
    hover: (
      foreground: palette(panel),
      background: palette(accent, hover)
    ),
    positive: (
      foreground: palette(panel),
      background: palette(swatches, positive),
      hover: (
        foreground: palette(panel),
        background: palette(swatches, positive, hover),
      )
    ),
    negative: (
      foreground: palette(panel),
      background: palette(swatches, negative),
      hover: (
        foreground: palette(panel),
        background: palette(swatches, negative, hover),
      )
    ),
    bare: (
      foreground: palette(accent),
      background: transparent,
      hover: (
        foreground: palette(accent, hover),
        background: transparent,
      )
    ),
    ghost: (
      foreground: palette(foreground),
      background: transparent,
      border: palette(foreground, tint),
      hover: (
        foreground: palette(foreground),
        background: transparent,
        border: shade(palette(foreground, tint), 15%)
      )
    )
  )
));

@include sizes((
  button: (
    padding: (
      horizontal: size(spacing, small) + size(spacing, tiny),
      vertical: size(spacing, small)
    ),
    icon: (
      extent: size(spacing) - 3px,
      thickness: 2px
    ),
    small: (
      padding: (
        horizontal: size(spacing, small),
        vertical: size(spacing, tiny)
      ),
      icon: (
        extent: size(spacing, small),
        thickness: 2
      )
    ),
    large: (
      padding: (
        horizontal: size(spacing, huge),
        vertical: size(spacing, small)
      )
    ),
    bare: (
      padding: (
        horizontal: 0,
        vertical: 0
      )
    )
  )
));

.c-button {
  display: inline-block;
  border-radius: size(radius);
  color: palette(button, foreground);
  background: palette(button, background);
  padding: size(button, padding, horizontal) size(button, padding, vertical);
  text-decoration: none;
  font-size: size(font, small);
  font-weight: weight(medium);
  line-height: rhythm(1);
  
  &:hover {
    cursor: pointer;
    color: palette(button, hover, foreground);
    background: palette(button, hover, background);
  }
}

.c-button--positive {
  color: palette(button, positive, foreground);
  background: palette(button, positive, background);
  
  &:hover {
    color: palette(button, positive, hover, foreground);
    background: palette(button, positive, hover, background);
  }
}

.c-button--negative {
  color: palette(button, negative, foreground);
  background: palette(button, negative, background);
  
  &:hover {
    color: palette(button, negative, hover, foreground);
    background: palette(button, negative, hover, background);
  }
}

.c-button--bare {
  //padding: 0 !important;
  font-weight: weight(normal);
  color: palette(button, bare, foreground);
  background: palette(button, bare, background);
  
  &:hover {
    color: palette(button, bare, hover, foreground);
    background: palette(button, bare, hover, background);
  }
}

.c-button--ghost {
  color: palette(button, ghost, foreground);
  background: palette(button, ghost, background);
  box-shadow: inset 0 0 0 1px palette(button, ghost, border);
  
  &:hover {
    color: palette(button, ghost, hover, foreground);
    background: palette(button, ghost, hover, background);
    box-shadow: inset 0 0 0 1px palette(button, ghost, hover, border);
  }
}

.c-button--small {
  font-size: size(font, tiny);
  line-height: rhythm(1);
  padding: size(button, small, padding, horizontal) size(button, small, padding, vertical);
}

.c-button--large {
  font-size: size(font, medium);
  line-height: rhythm(1);
  padding: size(button, large, padding, horizontal) size(button, large, padding, vertical);
}

.c-button--add,
.c-button--remove {
  position: relative;
  padding-left: size(button, padding, horizontal) +
    size(spacing, small) + size(button, icon, extent);
  &.c-button--small {
    padding-left: size(button, small, padding, horizontal) +
      size(spacing, small) + size(button, small, icon, extent);
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;   
    background: palette(button, foreground);
  }
  &.c-button--ghost {
    &:before,
    &:after {
      background: palette(button, ghost, foreground);
    }
  }
  &.c-button--bare {
    &:before,
    &:after {
      background: palette(button, bare, foreground);
    }
  }
  &:before {
    margin-top: size(button, icon, thickness) / -2;
    left: size(button, padding, horizontal);
    width: size(button, icon, extent);
    height: size(button, icon, thickness);
  }
  &.c-button--small {
    &:before {
      margin-top: size(button, small, icon, thickness) / -2;
      left: size(button, small, padding, horizontal);
      width: size(button, small, icon, extent);
      height: size(button, small, icon, thickness);
    }
  }
  &:after {
    margin-left: size(button, icon, thickness) / -2;
    margin-top: - (size(button, icon, extent) / 2);
    left: size(button, padding, horizontal) +
      (size(button, icon, extent) / 2);
    width: size(button, icon, thickness);
    height: size(button, icon, extent);
  }
  &.c-button--small {
    &:after {
      margin-left: size(button, small, icon, thickness) / -2;
      margin-top: - (size(button, small, icon, extent) / 2);
      left: size(button, small, padding, horizontal) +
        (size(button, small, icon, extent) / 2);
      width: size(button, small, icon, thickness);
      height: size(button, small, icon, extent);
    }
  }
  &:hover {
    &:before,
    &:after {
      background: palette(button, hover, foreground);
    }
  }
  &.c-button--ghost {
    &:hover {
      &:before,
      &:after {
        background: palette(button, ghost, hover, foreground);
      }
    }
  }
  &.c-button--bare {
    &:hover {
      &:before,
      &:after {
        background: palette(button, bare, hover, foreground);
      }
    }
  }
}
.c-button--remove {
  &:after {
    display: none;
  }
}

.c-button--grow {
  width: 100%;
}
