$palettes: palette-defaults((
  checkbox: (
    foreground: palette(accent),
    background: palette(panel),
    border: palette(foreground, tint),
    shadow: palette(shadow),
    checked: (
      foreground: palette(panel),
      background: palette(accent),
      border: shade(palette(accent), 5%)
    )
  )
));

$sizes: size-defaults((
  checkbox: (
    label: (
      font-size: small,
      font-weight: $global-font-weight--regular
    )
  )
));

.c-checkbox__control {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.c-checkbox__label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-weight: size(checkbox, label, font-weight);
  @include font-size(size(checkbox, label, font-size));
  @include rem(padding-left, $global-spacing + $global-spacing--small);
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: $global-radius;
    background: palette(checkbox, background);
    box-shadow: inset 0 0 0 1px palette(checkbox, border),
                0 $global-shadow 0 palette(checkbox, shadow);
    @include rem(width, $global-spacing);
    @include rem(height, $global-spacing);
    
    .c-checkbox__control:checked + & {
      background: palette(checkbox, checked, background);
      box-shadow: inset 0 0 0 1px palette(checkbox, checked, border),
                  0 $global-shadow 0 palette(checkbox, shadow);
    }
  }
  &:after {
    .c-checkbox__control:checked + & {
      content: '';
      display: block;
      position: absolute;
      transform: rotate(45deg);
      box-shadow: inset -2px -2px 0 palette(checkbox, checked, foreground);
      @include rem(top, rhythm(.5));
      @include rem(left, rhythm(.5));
      @include rem(width, rhythm(.3));
      @include rem(height, rhythm(.6));
      @include rem(margin-left, rhythm(-.15));
      @include rem(margin-top, rhythm(-.35));
    }
  }
}