@include palettes((
  error: (
    foreground: palette(swatches, negative)
  )
));

.c-error {
  color: palette(error, foreground);
  font-size: size(font, small);
  padding-top: size(spacing, tiny);
  padding-bottom: size(spacing, tiny);
}