@include palettes((
  heading: (
    foreground: palette(foreground)
  )
));

@include sizes((
  heading: (
    size: size(font, large),
    rhythm: rhythm(2),
    trailer: size(spacing, small)
  )
));

@include weights((
  heading: (
    base: weight(bold)
  )
));

.c-heading {
  color: palette(heading, foreground);
  font-size: size(heading, size);
  line-height: size(heading, rhythm);
  margin-bottom: size(heading, trailer);
  font-weight: weight(heading);
}
.c-heading__link {
  color: inherit;
  text-decoration: none;
}