@include palettes((
  label: (
    foreground: palette(foreground)
  )
));

@include sizes((
  label: (
    font: size(font, small),
    shift: (
      vertical: -.25em
    ) 
  )
));

@include weights((
  label: weight(bold)
));

.c-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  // Shift to top of rhythm row.
  top: size(label, shift, vertical);
  color: palette(label, foreground);
  font-weight: weight(label);
  font-size: size(label, font);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// For when it's next to an input--auto.
.c-label--adjacent {
  top: 0;
  padding-right: size(spacing, small);
}