@include palettes((
  label: (
    foreground: palette(foreground)
  )
));

@include sizes((
  label: (
    font-size: size(font, small),
    font-weight: weight(bold),
    vertical-shift: -.3em
  )
));

.c-label {
  display: inline-block;
  position: relative;
  // Shift to top of rhythm row.
  top: size(label, vertical-shift);  
  color: palette(label, foreground);
  font-weight: size(label, font-weight);
  font-size: size(label, font-size);
}

// For when it's next to an input--auto.
.c-label--adjacent {
  top: 0;
  padding-right: size(spacing, small);
}