@include palettes((
  radio: (
    foreground: palette(accent),
    background: palette(panel),
    border: palette(foreground, tint),
    shadow: palette(shadow),
    checked: (
      foreground: palette(panel),
      background: palette(accent),
      border: shade(palette(accent), 5%)
    )
  )
));

@include sizes((
  radio: (
    label: (
      font-size: size(font, small),
      font-weight: weight(normal)
    )
  )
));

.c-radio__control {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.c-radio__label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-weight: size(radio, label, font-weight);
  font-size: size(radio, label, font-size);
  padding-left: size(spacing) + size(spacing, small);
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: size(spacing);
    height: size(spacing);
    
    .c-radio__control:checked + & {
      background: palette(radio, checked, background);
      box-shadow: inset 0 0 0 1px palette(radio, checked, border),
                  0 size(shadow) 0 palette(radio, shadow);
    }
  }
  &:after {
    .c-radio__control:checked + & {
      content: '';
      display: block;
      position: absolute;
      background: palette(accent);
      border-radius: 50%;
      top: rhythm(.5);
      left: rhythm(.5);
      width: rhythm(.4);
      height: rhythm(.4);
      margin-top: rhythm(-.2);
      margin-left: rhythm(-.2);
    }
  }
}