@include palettes((
  required: (
    foreground: palette(swatches, negative)
  )
));

@include weights((
  required: weight(normal)
));

.c-required {
  // Firefox and Chrome.
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
  color: palette(required, foreground);
  font-weight: weight(required);
}