@include palettes((
  select: (
    foreground: palette(foreground),
    border: palette(foreground, tint),
    arrow: palette(foreground, light),
    shadow: palette(shadow),
    focus: (
      border: tint(palette(accent), 60%),
      outline: palette(accent, tint)
    ),
  )
));

.c-select {
  position: relative;
  border-radius: size(radius);
  background: #fff;
  box-shadow: inset 0 0 0 1px palette(select, border),
              0 size(shadow) palette(select, shadow);
  &:after {
    content: '';
    pointer-events: none;
    display: block;
    position: absolute;
    top: 50%;
    width: 8px;
    height: 8px;
    margin-top: -7px;
    box-shadow: 2px 2px palette(select, arrow);
    transform-origin: bottom right;
    transform: rotate(45deg);
    right: size(spacing);
  }
}
.c-select__control {
  position: relative;
  background: transparent;
  width: 100%;
  // So that focus glow is correct.
  border-radius: size(radius);
  color: palette(select, foreground);
  font-size: size(font, small);
  padding: size(spacing, small);
  // Arrow width (12px), with padding either side.
  padding-right: size(spacing, small) + 12 + size(spacing, small);

  // Outline doesn't respect radius
  &:focus {
    outline: 0;
    box-shadow: inset 0 0 0 1px palette(select, focus, border),
                0 0 0 3px palette(select, focus, outline) 
  }
}
// IE 10/11+ — Hide arrow.
.c-select__control::-ms-expand {
  display: none;
}
// IE 10/11+ — Removes blue bg http://stackoverflow.com/questions/17553300.
.c-select__control:focus::-ms-value {
  background: transparent;
  color: #222;
}
// FF — Can't hide arrow so make select wider so it disappears off edge.
@-moz-document url-prefix() { 
  .c-select {
    overflow: hidden;
  }
  .c-select__control {
    width: 120%;
    width: -moz-calc(100% + 3em);
    width: calc(100% + 3em);
    padding-right: calc(3em + 20px);
  }
}
// Firefox focus has odd artifacts around the text, this kills that.
// See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring
.c-select__control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}