@charset "UTF-8";

// The body base font size.
$rem-base: 16 !default;

// Converts any non-zero, unitless number values from pixels to rems
// with a pixel fallback for old browsers.
//
// Example:
//   @include rem('padding', 32 5%);
//
// Output:
//   padding: 2em 5%;
//   padding: 32px 5%;
//
@mixin rem($property, $values, $important: false) {
  $px: ();
  $rem: ();
  $base: $rem-base;

  @each $value in $values {
    @if type-of($value) == number and unitless($value) and $value != 0 {
      $px: join($px, $value + px);
      $rem: join($rem, ($value / $base) + rem);
    } @else {
      $px: join($px, $value);
      $rem: join($rem, $value);
    }
  }

  $important-text: if($important, ' !important', '');

  #{$property}: $px#{$important-text};
  @if $rem != $px { #{$property}: $rem#{$important-text}; }
}