// This includes the basics for authored content. We will
// add to this as further scenarios arise, in order to have
// a solid starting point.

@include sizes((
  authored: (
    body: (
      font-size: small,
      rows: null
    )
  )
));

.s-authored {
  font-size: size(authored, body, font-size);
  line-height: size(authored, body, rows);
  
  p, ul, ol, .trix-content {
    margin-bottom: size(spacing);
    &:last-child {
      margin-bottom: 0;
    }
  }
  strong, b {
    font-weight: weight(bold);
    color: palette(foreground, dark);
  }
  em, i {
    font-style: italic;
  }
  ul {
    li {
      margin-left: size(spacing);
      &:before {
        position: absolute;
        content: '•';
        font-size: 120%;
        margin-left: - size(spacing);
      }
    }
  }
  ol {
    counter-reset: count;
    li {
      counter-increment: count;
      &:before {
        content: counter(count) ". ";
      }
    }
  }
  h1, h2, h3, h4 {
    font-weight: weight(bold);
    margin-bottom: size(spacing);
  }
  h1 {
    font-size: size(font, large);
    line-height: rhythm(1.5);
  }
  h2 {
    font-size: size(font, medium);
  }
  p + h1 {
    margin-top: size(spacing, large);
  }
  code {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    display: inline-block;
    background: palette(panel, tint);
    border-radius: size(radius);
    font-size: size(font, tiny);
    padding-left: size(spacing, tiny);
    padding-right: size(spacing, tiny);

    pre & {
      display: block;
      background: transparent;
      padding-left: 0;
      padding-right: 0;
      font-size: size(font, small);
      line-height: rhythm(1.5);
    }
  }
}